# Игнорировать папки, связанные с IDE
.vscode/

# Игнорировать папки и файлы Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Игнорировать папки и файлы, связанные с системами контроля версий
.git/

# Игнорировать файлы, содержащие чувствительные данные
*.env

# Игнорировать все прочие файлы, которые не нужны в репозитории
# some-other-folder/
