# Игнорировать файлы и папки, специфичные для редакторов и IDE
*.swp
*.swo
*.swn
.vscode/

# Игнорировать файлы и папки, связанные с системами контроля версий
.git/

# Игнорировать локальные конфигурационные файлы и логи
*.env
*.log

# Игнорировать все прочие файлы, которые не нужны в образе
# some-other-folder/
